Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

# Print the Series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [3]:
import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Convert the dictionary to a Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional, tabular data structure that consists of rows and columns. It is one of the primary data structures used for data manipulation and analysis. A DataFrame can be thought of as a container for Series objects, where each column represents a Series, and the columns can have different data types.

A Series, on the other hand, is a one-dimensional labeled array capable of holding any data type. It is essentially a single column of a DataFrame. A DataFrame is a collection of multiple Series, where each Series forms a column, and the columns share a common index.

Differences between DataFrame and Series:
Dimensions:

A DataFrame is a two-dimensional structure with both rows and columns.
A Series is a one-dimensional structure representing a single column or row.
Data Structure:

A DataFrame is a collection of Series, where each column is a Series.
A Series is a single column of a DataFrame.
Indexing:

A DataFrame has both row and column indexes.
A Series has only one index (either row or column).

In [4]:
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Creating a Series
ages_series = pd.Series([25, 30, 27], name='Age')

# Print DataFrame and Series
print("DataFrame:")
print(df)
print("\nSeries:")
print(ages_series)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
df.head(3)  # View the first 3 rows of the DataFrame
df.tail(2)  # View the last 2 rows of the DataFrame

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df['Category'].value_counts()

In [ ]:
df.groupby('Category')['Price'].mean()

In [ ]:
df.sort_values(by='Date', ascending=True)

In [ ]:
df.drop(columns=['Column1', 'Column2'])

In [ ]:
df.fillna(0)  # Fill NaN values with 0

In [ ]:
df['Column'].apply(lambda x: x * 2)

In [ ]:
merged_df = pd.merge(df1, df2, on='Common_Column')

In [ ]:
pd.pivot_table(df, values='Value', index='Category', columns='Date', aggfunc='sum')

In [ ]:
filtered_df = df[df['Category'].isin(['A', 'B', 'C'])]

In [ ]:
df['Numeric_Column'] = df['Numeric_Column'].astype(float)

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, the mutability (ability to be modified) of data structures can be categorized as follows:

Mutable (Can be modified): If an object is mutable, you can change its values, add or remove elements, or modify its structure after it has been created.

Immutable (Cannot be modified): If an object is immutable, its values or structure cannot be changed once it is created.

Now, let's discuss the mutability of Series, DataFrame, and Panel in Pandas:

Series:

Mutability: Series is mutable. You can modify the values of a Series after it has been created.
Example:

In [5]:
import pandas as pd

s = pd.Series([1, 2, 3, 4])
s[2] = 10  # Modifying the value at index 2

DataFrame:

Mutability: DataFrame is mutable. You can modify the values, add or remove columns, and perform various operations on a DataFrame.
Example:

In [6]:
import pandas as pd

data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df = pd.DataFrame(data)

df['Age'] = [26, 31]  # Modifying values in the 'Age' column
df['City'] = ['New York', 'San Francisco']  # Adding a new column

Panel:

Mutability: Panel is mutable, but it is deprecated as of Pandas version 0.25.0. For three-dimensional data, it is recommended to use a MultiIndex DataFrame instead of a Panel.
Example:

In [7]:
# Example using a MultiIndex DataFrame instead of a Panel
import pandas as pd

data = {'Value': [[1, 2], [3, 4], [5, 6]],
        'Variable': ['A', 'B'],
        'Time': [1, 2]}

df = pd.DataFrame(data).set_index(['Variable', 'Time'])
df.loc[('A', 1), 'Value'] = 10  # Modifying a value in the DataFrame

ValueError: All arrays must be of the same length

In [8]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female